<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxc.stu.mapper.AccessdetailMapper" >
  <resultMap id="BaseResultMap" type="com.gxc.stu.pojo.Accessdetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="ipLocation" property="iplocation" jdbcType="VARCHAR" />
    <result column="resourcePath" property="resourcepath" jdbcType="VARCHAR" />
    <result column="comeDate" property="comedate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ip, ipLocation, resourcePath, comeDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gxc.stu.pojo.AccessdetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from accessdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from accessdetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from accessdetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gxc.stu.pojo.AccessdetailExample" >
    delete from accessdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gxc.stu.pojo.Accessdetail" >
    insert into accessdetail (id, ip, ipLocation, 
      resourcePath, comeDate)
    values (#{id,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{iplocation,jdbcType=VARCHAR}, 
      #{resourcepath,jdbcType=VARCHAR}, #{comedate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gxc.stu.pojo.Accessdetail" >
    insert into accessdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="iplocation != null" >
        ipLocation,
      </if>
      <if test="resourcepath != null" >
        resourcePath,
      </if>
      <if test="comedate != null" >
        comeDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="iplocation != null" >
        #{iplocation,jdbcType=VARCHAR},
      </if>
      <if test="resourcepath != null" >
        #{resourcepath,jdbcType=VARCHAR},
      </if>
      <if test="comedate != null" >
        #{comedate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gxc.stu.pojo.AccessdetailExample" resultType="java.lang.Integer" >
    select count(*) from accessdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update accessdetail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.iplocation != null" >
        ipLocation = #{record.iplocation,jdbcType=VARCHAR},
      </if>
      <if test="record.resourcepath != null" >
        resourcePath = #{record.resourcepath,jdbcType=VARCHAR},
      </if>
      <if test="record.comedate != null" >
        comeDate = #{record.comedate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update accessdetail
    set id = #{record.id,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      ipLocation = #{record.iplocation,jdbcType=VARCHAR},
      resourcePath = #{record.resourcepath,jdbcType=VARCHAR},
      comeDate = #{record.comedate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gxc.stu.pojo.Accessdetail" >
    update accessdetail
    <set >
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="iplocation != null" >
        ipLocation = #{iplocation,jdbcType=VARCHAR},
      </if>
      <if test="resourcepath != null" >
        resourcePath = #{resourcepath,jdbcType=VARCHAR},
      </if>
      <if test="comedate != null" >
        comeDate = #{comedate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gxc.stu.pojo.Accessdetail" >
    update accessdetail
    set ip = #{ip,jdbcType=VARCHAR},
      ipLocation = #{iplocation,jdbcType=VARCHAR},
      resourcePath = #{resourcepath,jdbcType=VARCHAR},
      comeDate = #{comedate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>