<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		
<mapper namespace="com.gxc.stu.mapper.SpecialtyMapper">

	<!-- 添加专业 -->
	<insert id="addSpecialty" parameterType="com.gxc.stu.pojo.Specialty">
		INSERT INTO specialty (
			speName,
			createDate,
			description,
			deptId,
			deptName
		)
		VALUES
			(
				#{speName},
				#{createDate},
				#{description},
				#{deptId},
				#{deptName}
			);
	</insert>
	
	<!-- 根据部门ID查询专业 -->
	<select id="findSpeListByDeptId" parameterType="Integer" resultType="com.gxc.stu.pojo.Specialty">
		select * from specialty where deptId = #{deptId}
	</select>
	
	<!-- 查询所有专业 -->
	<select id="findAllSpeList" resultType="com.gxc.stu.pojo.Specialty">
		select * from specialty
	</select>
	
	<!-- 根据专业id查询专业 -->
	<select id="findSpeBySpeId" parameterType="Integer" resultType="com.gxc.stu.pojo.Specialty">
		select * from specialty where speId = #{speId};
	</select>
	
	<!-- 更新专业信息 -->
	<update id="updateSpe" parameterType="com.gxc.stu.pojo.Specialty">
		UPDATE specialty
		SET 
		 speName = #{speName},
		 description = #{description},
		 deptId = #{deptId},
		 deptName = #{deptName}
		WHERE
			speId = #{speId};
	</update>
	
	<!-- 统计专业人数 -->
	<select id="findDeptStuCount" resultType="pojo.ChartBean">
		SELECT
			count(*) AS value,
			speName As name
		FROM
			stu s
		LEFT JOIN specialty p 
		ON s.speId = p.speId
		GROUP BY
			speName
	</select>
	
</mapper>